QueuingSystem/Connected Services/LHYserver/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="DynamicInterfaceService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="DynamicInterfaceService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="DynamicInterfaceService">
      <s:element name="GetBAXX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dwjgdm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dwmc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="yhbs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="yhxm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sbkzjsjip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBAXXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBAXXResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetBXQH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dwjgdm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dwmc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="yhbs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="yhxm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ywckjsjip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sbkzjsjip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="qhxxxlh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pdh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ywlb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sfzmhm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dlrsfzmhm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="qhrxm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="qhsj" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rylb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jbr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetBXQHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetBXQHResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPJXX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dwjgdm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dwmc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="yhbs" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="yhxm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="qhxxxlh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pjlb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pjjg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPJXXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetPJXXResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBAXXSoapIn">
    <wsdl:part name="parameters" element="tns:GetBAXX" />
  </wsdl:message>
  <wsdl:message name="GetBAXXSoapOut">
    <wsdl:part name="parameters" element="tns:GetBAXXResponse" />
  </wsdl:message>
  <wsdl:message name="SetBXQHSoapIn">
    <wsdl:part name="parameters" element="tns:SetBXQH" />
  </wsdl:message>
  <wsdl:message name="SetBXQHSoapOut">
    <wsdl:part name="parameters" element="tns:SetBXQHResponse" />
  </wsdl:message>
  <wsdl:message name="SetPJXXSoapIn">
    <wsdl:part name="parameters" element="tns:SetPJXX" />
  </wsdl:message>
  <wsdl:message name="SetPJXXSoapOut">
    <wsdl:part name="parameters" element="tns:SetPJXXResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetBAXX">
      <wsdl:input message="tns:GetBAXXSoapIn" />
      <wsdl:output message="tns:GetBAXXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetBXQH">
      <wsdl:input message="tns:SetBXQHSoapIn" />
      <wsdl:output message="tns:SetBXQHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPJXX">
      <wsdl:input message="tns:SetPJXXSoapIn" />
      <wsdl:output message="tns:SetPJXXSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBAXX">
      <soap:operation soapAction="DynamicInterfaceService/GetBAXX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBXQH">
      <soap:operation soapAction="DynamicInterfaceService/SetBXQH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPJXX">
      <soap:operation soapAction="DynamicInterfaceService/SetPJXX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBAXX">
      <soap12:operation soapAction="DynamicInterfaceService/GetBAXX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBXQH">
      <soap12:operation soapAction="DynamicInterfaceService/SetBXQH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPJXX">
      <soap12:operation soapAction="DynamicInterfaceService/SetPJXX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:14459/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:14459/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>